<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Hello rolling-update v0.4!</h2>
    <p>Welcome to <%= title %></p>
    </p>
    <p><a href="/echo">Request echo info</a></p>
  </body>
</html>
